.info-section {

  padding: 5vh;
  min-height: 5vh;

  display: flex;
   align-items: center;
  justify-content: left;
  gap: 5vw;
}

.Header{
      background-color: #60CC51;
      display: flex;
   align-items: center;
  justify-content: left;
  gap: 5vw;
}

button{
    width: 7vw;
    height: 5vh;

}